In [3]:
my_list = [1, 2, 3]

def my_func(num, num2, num3):
    print(num)

my_func(*my_list)

1

In [4]:
dict_ = {'FW': [4, 3, 'shots_on_target', 'goals']}
print([*dict_.keys()])

['FW']

In [18]:
filters = {'age': [3,2,5,4,3], 'power_stamina': 3}

dictkeys = list(filters.keys())[0]
dictkeys

'age'

In [19]:
filters['age']

[3, 2, 5, 4, 3]

In [8]:
import pandas as pd
dict1 = {'player': ['Stafan van den Frankson', 'Mjau Mjauson', 'Fred'], 'data': [1,2,3]}
dict2 = {'short_name': ['S. Frankson', 'Mjau', 'Fred']}

# NOTE: 'short_name' will always be a subset of 'player'

df_data = pd.DataFrame(dict1)
df_data_ = pd.DataFrame(dict2)

In [26]:
import pandas as pd
import re

# Assuming you have a Pandas DataFrame named 'df' with a column named 'name'
data = {'name': ['J. Cole', 'M. Ray', 'Cristiano Ronaldo']}
df = pd.DataFrame(data)

# Define a regular expression pattern
pattern = r'\b[A-Z]\.\s*'

# Apply the regex replacement to the 'name' column

series = df['name']
series = series.str.replace(pattern, '')
series
# Display the result
#df

0              J. Cole
1               M. Ray
2    Cristiano Ronaldo
Name: name, dtype: object

In [163]:
import os
import pandas as pd
import sys

In [223]:
import os
import pandas as pd

# Get the current working directory
current_directory = os.getcwd()

# Construct the full path to the CSV file
csv_path = os.path.join(current_directory, '../src/data/players_22.csv')

# Read the CSV file
external = pd.read_csv(csv_path)
external = external[['short_name', 'long_name', 'wage_eur', 'value_eur', 'preferred_foot',
                     'movement_sprint_speed', 'movement_reactions', 'power_jumping', 'power_stamina']]
external = external.drop_duplicates(subset='long_name')
external = external.drop_duplicates(subset='short_name')


# Construct the full path to the CSV file
csv_path = os.path.join(current_directory, '../src/data/player_passing.csv')
sourceDF = pd.read_csv(csv_path)

/var/folders/2r/1pk5npwn5l541mm_rkjxq2_00000gn/T/ipykernel_977/211667037.py:11: DtypeWarning: Columns (25,108) have mixed types. Specify dtype option on import or set low_memory=False.
  external = pd.read_csv(csv_path)

In [235]:
name_list = []
not_seen = []
for player_name in sourceDF['player']:
    short_name_ = False
    long_name_ = False
    if (len(player_name.split()) == 1):
        for short_name in external['short_name']:
            if short_name == player_name:
                name_list.append(short_name)
                short_name_ = True
    elif short_name_ == False:
        for long_name in external['long_name']:
            if all((name in long_name) for name in player_name.split()):
                name_list.append(long_name)
                long_name_ = True
    
    if (short_name_ == False) & (long_name_ == False):
        not_seen.append(player_name)

In [236]:
len(name_list) / len(sourceDF)

0.8014705882352942

In [237]:
not_seen

['Abdelhamid Sabiri',
 'Abdelkarim Hassan',
 'Abdessamad Ezzalzouli',
 'Abdul Fatawu Issahaku',
 'Abdulaziz Hatem',
 'Abdulellah Al-Malki',
 'Abdulrahman Al-Aboud',
 'Abolfazl Jalali',
 'Achraf Dari',
 'Ahmad Nourollahi',
 'Ahmed Alaaeldin',
 'Aimen Dahmen',
 'Ajdin Hrustic',
 'Akram Afif',
 'Ali Assadalla',
 'Ali Maâloul',
 'Almoez Ali',
 'Andre-Frank Zambo Anguissa',
 'André Ayew',
 'André Onana',
 'Ansu Fati',
 'Anthony Contreras',
 'António Silva',
 'Ao Tanaka',
 'Ardon Jasari',
 'Assim Madibo',
 'Ayase Ueda',
 'Badr Banoun',
 'Bassam Al-Rawi',
 'Bilal El Khannous',
 'Boualem Khoukhi',
 'Brandon Aguilera',
 'Brennan Johnson',
 'Celso Borges',
 'Charly Rodríguez',
 'Cho Guesung',
 'Cho Yumin',
 'Daichi Kamada',
 'Daizen Maeda',
 'Dani Alves',
 'Dejan Lovren',
 'Devis Epassy',
 'Edouard Mendy',
 'Ehsan Hajsafi',
 'Erick Gutiérrez',
 'Everton Ribeiro',
 'Fabian Rieder',
 'Famara Diedhiou',
 'Ferjani Sassi',
 'Ferrán Torres',
 'Félix Torres Caicedo',
 'Garang Kuol',
 "Georges-Kévin N'Koudou",
 'Gerson Torres',
 'Ghaylène Chaalali',
 'Giorgian De Arrascaeta',
 'Guillermo Varela',
 'Hassan Al-Haydos',
 'Hernán Galíndez',
 'Hidemasa Morita',
 'Hiroki Ito',
 'Hiroki Sakai',
 'Homam Ahmed',
 'Hong Chul',
 'Hossein Kanaanizadegan',
 'Hwang Hee-chan',
 'Hwang In-beom',
 'Hwang Ui-jo',
 'Iliman Ndiaye',
 'Ismail Mohamad',
 'Ismaila Sarr',
 'Ismaël Koné',
 'Jakub Kiwior',
 'Jeong Woo-yeong',
 'Jeremy Doku',
 'Jerome Ngom Mbekeli',
 'Jesús Ferreira',
 'Jewison Bennette',
 'Joe Allen',
 'Joe Morrell',
 'Johan Venegas',
 'Juan Pablo Vargas',
 'Jung Woo-young',
 'Junya Ito',
 'Kaoru Mitoma',
 'Karim Boudiaf',
 'Kendall Waston',
 'Kevin Rodríguez',
 'Keysher Fuller',
 'Kim Jin-su',
 'Kim Min-jae',
 'Kim Moonhwan',
 'Kim Seung-gyu',
 'Kim Young-gwon',
 'Ko Itakura',
 'Kwon Chang-hoon',
 'Kwon Kyung-won',
 'Lawrence Ati-Zigi',
 'Lee Jae-sung',
 'Lee Kangin',
 'Lisandro Martínez',
 'Lucas Paquetá',
 'Martinelli',
 'Maya Yoshida',
 'Mehdi Torabi',
 'Memphis',
 'Meshaal Barsham',
 'Miki Yamane',
 'Milad Mohammadi',
 'Mohamed Ali Ben Romdhane',
 'Mohamed Kanno',
 'Mohammed Al-Breik',
 'Mohammed Al-Owais',
 'Mohammed Muntari',
 'Mohammed Salisu',
 'Mohammed Waad',
 'Moisés Caicedo',
 'Montassar Talbi',
 'Musab Kheder',
 'Na Sang-ho',
 'Nader Ghandri',
 'Nawaf Al Abed',
 'Neymar',
 'Nico Williams',
 'Nicolas Jackson',
 'Nicolas Nkoulou',
 'Néstor Araujo',
 'Paik Seung-ho',
 'Papu Gómez',
 'Ramin Rezaeian',
 'Ritsu Doan',
 'Roan Wilson',
 'Romario Ibarra',
 'Roozbeh Cheshmi',
 'Ró-Ró',
 'Rónald Matarrita',
 'Saad Al Sheeb',
 'Sardar Azmoun',
 'Saud Abdulhamid',
 'Shogo Taniguchi',
 'Shūichi Gonda',
 'Son Heung-min',
 'Son Jun-ho',
 'Sultan Al-Ghanam',
 'Taha Yassine Khenissi',
 'Takefusa Kubo',
 'Takehiro Tomiyasu',
 'Takuma Asano',
 'Takumi Minamino',
 'Tarek Salman',
 'Vinicius Júnior',
 'Walid Cheddira',
 'Wataru Endo',
 'Wéverton',
 'Yahya Attiat Allah',
 'Yahya Jabrane',
 'Yasser Al-Shahrani',
 'Yeltsin Tejeda',
 'Youssef Msakni',
 'Youssoufa Moukoko',
 'Youstin Salas',
 'Yuki Soma',
 'Yuto Nagatomo',
 'Álvaro Zamora']

In [231]:
len(not_seen)

164

0.8014705882352942

In [233]:
len(sourceDF)

680

In [195]:
names_ex = []
external = external.drop_duplicates(subset='short_name')
external = external.drop_duplicates(subset='long_name')

for name_ in external['short_name']:
    if len(name_.split()) == 1:
        names_ex.append(name_)
len(names_ex), len(list(dict.fromkeys(names_ex)))

(709, 709)

In [197]:
names = []
for name_ in sourceDF['player']:
    if len(name_.split()) == 1:
        names.append(name_)
len(names), len(list(dict.fromkeys(names)))

(25, 25)

In [198]:
for name in names:
    if name not in names_ex:
        print(name)

Martinelli
Memphis
Neymar
Ró-Ró
Wéverton

In [185]:
"""for name in external['short_name']:
    if len(name.split()) == 1:
        print(name)"""
for name in sourceDF['player']:
    if len(name.split()) == 1:
        for name_ in external['short_name']:
            if name == name_:
                print(name, name_)
                continue

Alisson Alisson
Antony Antony
Casemiro Casemiro
Danilo Danilo
Ederson Ederson
Fabinho Fabinho
Fred Fred
Gavi Gavi
Koke Koke
Marquinhos Marquinhos
Munir Munir
Otávio Otávio
Pedri Pedri
Pedro Pedro
Pepe Pepe
Raphinha Raphinha
Richarlison Richarlison
Rodri Rodri
Rodrygo Rodrygo
Vitinha Vitinha

In [155]:
import pandas as pd
import re

# Assuming you have a Pandas DataFrame named 'df' with a column named 'name'
data = {'long_name': ['Daan Goedefridus Hendrikus Dankers', 'Alicia Hedvig Helena Larsen', 'Alicia Cool Keys', 'Cristiano Ronaldo', 'Mamma Mia']}
external = pd.DataFrame(data)

data = {'player': ['Daan Dankers', 'Alicia Larsen', 'Alicia Keys', 'Cristiano Ronaldo']}
sourceDF = pd.DataFrame(data)

In [156]:
import pandas as pd

# Iterate through each row in sourceDf
long_name_list = []
for player_name in sourceDF['player']:
    for long_name in external['long_name']:
        #print(long_name, player_name.split())
        if all((name in long_name) for name in player_name.split()):
            print('Hello')
            long_name_list.append(long_name)
            continue
        continue
        
sourceDF['long_name'] = long_name_list
# Print the updated sourceDf
sourceDF

Hello
Hello
Hello
Hello

              player                           long_name
0       Daan Dankers  Daan Goedefridus Hendrikus Dankers
1      Alicia Larsen         Alicia Hedvig Helena Larsen
2        Alicia Keys                    Alicia Cool Keys
3  Cristiano Ronaldo                   Cristiano Ronaldo

In [114]:
sourceDf['key_names'] = ''

# Iterate through each row in sourceDf
for index, row in sourceDf.iterrows():
    name_split = row['player'].split()

    # Check if all parts of the name exist in the 'long_name' column of external
    if all(external['long_name'].str.contains(name).any() for name in name_split):
        # Concatenate the matching key_names and store in the 'key_names' column
        key_names = external[external['long_name'].str.contains(row['player'])]['long_name'].tolist()
        sourceDf.at[index, 'long_name'] = ', '.join(key_names)

# Print the updated sourceDf
print(sourceDf)

              player key_names          long_name
0       Daan Dankers
1      Alicia Larsen
2  Cristiano Ronaldo            Cristiano Ronaldo

In [111]:
sourceDf['key_names'] = ''

# Iterate through each row in sourceDf
for index, row in sourceDf.iterrows():
    key_names = external[external['long_name'].str.contains(*row['player'].split()).any()]['long_name'].tolist()
    sourceDf.at[index, 'long_name'] = ', '.join(key_names)

# Print the updated sourceDf
print(sourceDf)

KeyError: True

In [102]:
sourceDf['key_names'] = ''

# Iterate through each row in sourceDf
for index, row in sourceDf.iterrows():
    name_split = row['player'].split()
    name_match = []

    # Check if each part of the name exists in the 'long_name' column of external
    for name in name_split:
        if (external['long_name'].str.contains(name)).any():
            name_match.append(1)

    # Check if all parts of the name are found in 'long_name'
    if sum(name_match) == len(name_match):
        # Concatenate the matching key_names and store in the 'key_names' column
        key_names = external[external['long_name'].str.contains(*row['player'].split())]['long_name'].tolist()
        sourceDf.at[index, 'long_name'] = ', '.join(key_names)

# Print the updated sourceDf
print(sourceDf)

              player key_names                           long_name
0       Daan Dankers            Daan Goedefridus Hendrikus Dankers
1      Alicia Larsen                   Alicia Hedvig Helena Larsen
2  Cristiano Ronaldo                             Cristiano Ronaldo

In [76]:
import pandas as pd

# Assuming you have a Pandas DataFrame named 'df' with a column named 'name'
data = {'name': ['J. Cole', 'A. Larsen', 'Cristiano Ronaldo']}
df = pd.DataFrame(data)


for row in 



# Define a regular expression pattern
pattern = r'\b[A-Z]\.\s*'
pattern = r'[A-Z]'
print(type(pattern))
#pattern = r'J'

# Apply the regex replacement to the 'name' column
df['mjau'] = df['name'].str.replace(pattern, '')


# Display the result
print(df)

<class 'str'>
                name               mjau
0            J. Cole            J. Cole
1          A. Larsen          A. Larsen
2  Cristiano Ronaldo  Cristiano Ronaldo

In [ ]:
df_data_['name']

In [9]:



for short_name in len(df_data_):
    i = 0
    while i < len(short_name):


df_data['short_name'] = 


df_data_['short_name'].str.split()
df_data

                    player  data      short_name
0  Stafan van den Frankson     1  [S., Frankson]
1             Mjau Mjauson     2          [Mjau]
2                     Fred     3          [Fred]