<h1 style="font-size:19px;color:#1563AF;font-weight:600">Exploratory Data Analysis | Forward Players</h1>

<p style="font-size:16px">JBI100 Visualization | Dana Mirafzal | November 2023</p>

---

In [1]:
##  Imports  ##
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
## Config
DATADIR="data/"

In [3]:
## Loading the data files

areas  = ["shooting","possession","playingtime","passing","misc"];
frames = []

counter=0
for area in areas:
    fileName = "player_"+area+".csv"
    frame    =  pd.read_csv(DATADIR+fileName)
    frames.append(frame)

In [4]:
## Mering all frames into a single one

df=frames[0]
for i in range(1,len(frames)):
    df=pd.merge(df,frames[i])

In [5]:
## Filtering the players to only get the ones who play in the forward position
df=df[df['position']=="FW"]

In [6]:
df

,player,position,team,age,birth_year,minutes_90s,goals,shots,shots_on_target,shots_on_target_pct,...,crosses,interceptions,tackles_won,pens_won,pens_conceded,own_goals,ball_recoveries,aerials_won,aerials_lost,aerials_won_pct
4,Abderrazak Hamdallah,FW,Morocco,32-001,1990,0.8,0,2,1,50.0,...,0,0,0,0.0,0.0,0,4.0,1.0,7.0,12.5
5,Abdessamad Ezzalzouli,FW,Morocco,21-001,2001,1.0,0,1,0,0.0,...,1,0,2,0.0,0.0,0,4.0,1.0,2.0,33.3
7,Abdul Fatawu Issahaku,FW,Ghana,18-285,2004,0.0,0,0,0,NaN,...,0,0,0,0.0,0.0,0,0.0,0.0,0.0,NaN
19,Ahmed Alaaeldin,FW,Qatar,29-321,1993,0.1,0,0,0,NaN,...,0,0,0,0.0,0.0,0,0.0,0.0,0.0,NaN
22,Akram Afif,FW,Qatar,26-030,1996,3.0,0,2,0,0.0,...,13,0,0,0.0,0.0,0,14.0,1.0,1.0,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,Youssef En-Nesyri,FW,Morocco,25-200,1997,6.0,2,9,3,33.3,...,0,1,2,0.0,0.0,0,13.0,21.0,14.0,60.0
666,Youssoufa Moukoko,FW,Germany,18-028,2004,0.0,0,0,0,NaN,...,1,0,0,0.0,0.0,0,1.0,0.0,0.0,NaN
668,Yuki Soma,FW,Japan,25-296,1997,0.9,0,3,0,0.0,...,6,0,0,0.0,0.0,0,2.0,0.0,0.0,NaN
671,Zakaria Aboukhlal,FW,Morocco,22-303,2000,0.9,1,3,2,66.7,...,1,1,1,0.0,0.0,0,3.0,2.0,0.0,100.0
672,Álvaro Morata,FW,Spain,30-056,1992,2.1,3,8,5,62.5,...,0,0,1,0.0,0.0,0,2.0,1.0,0.0,100.0

In [7]:
def getAgeYears(ageString):
    return int(ageString.split('-')[0])
df['age']=(df['age']).map(getAgeYears)

In [8]:
df

,player,position,team,age,birth_year,minutes_90s,goals,shots,shots_on_target,shots_on_target_pct,...,crosses,interceptions,tackles_won,pens_won,pens_conceded,own_goals,ball_recoveries,aerials_won,aerials_lost,aerials_won_pct
4,Abderrazak Hamdallah,FW,Morocco,32,1990,0.8,0,2,1,50.0,...,0,0,0,0.0,0.0,0,4.0,1.0,7.0,12.5
5,Abdessamad Ezzalzouli,FW,Morocco,21,2001,1.0,0,1,0,0.0,...,1,0,2,0.0,0.0,0,4.0,1.0,2.0,33.3
7,Abdul Fatawu Issahaku,FW,Ghana,18,2004,0.0,0,0,0,NaN,...,0,0,0,0.0,0.0,0,0.0,0.0,0.0,NaN
19,Ahmed Alaaeldin,FW,Qatar,29,1993,0.1,0,0,0,NaN,...,0,0,0,0.0,0.0,0,0.0,0.0,0.0,NaN
22,Akram Afif,FW,Qatar,26,1996,3.0,0,2,0,0.0,...,13,0,0,0.0,0.0,0,14.0,1.0,1.0,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,Youssef En-Nesyri,FW,Morocco,25,1997,6.0,2,9,3,33.3,...,0,1,2,0.0,0.0,0,13.0,21.0,14.0,60.0
666,Youssoufa Moukoko,FW,Germany,18,2004,0.0,0,0,0,NaN,...,1,0,0,0.0,0.0,0,1.0,0.0,0.0,NaN
668,Yuki Soma,FW,Japan,25,1997,0.9,0,3,0,0.0,...,6,0,0,0.0,0.0,0,2.0,0.0,0.0,NaN
671,Zakaria Aboukhlal,FW,Morocco,22,2000,0.9,1,3,2,66.7,...,1,1,1,0.0,0.0,0,3.0,2.0,0.0,100.0
672,Álvaro Morata,FW,Spain,30,1992,2.1,3,8,5,62.5,...,0,0,1,0.0,0.0,0,2.0,1.0,0.0,100.0